body {
    margin: 0;
    width: 100vw;
}
header {
    font-size: 2em; 
    color: dimgray; 
    border-bottom: 2px solid black; 
    text-align: center;
    box-shadow: 0px 2px 2px #aaa;
}
p{
    font-size: 1.3em;
}
label {
    color: gray;
    width: 100%;
    font-size: 1.5em;
    padding: 5px
}
input {
    width: 100%;
    border-radius: 7.5px;
    font-size: 1.3em;
    height: 1.3em;
    margin: 15px 0;
}
button {
    background-color: gray;
    color: white;
    padding: 5px;
    border-radius: 7.5px;
    font-size: 1.5em; 
}
#main {
    width: 600px;
    margin: 0 auto;
}
#form {
    text-align: center;
    width: 100%;
}
#formContent {
    width: 100%;
}